
<div class="template">

<h1>Welcome to {{title}}</h1>
<h2>We are on the cinemas by area page</h2>
<h2>here's a fucking list for you</h2>
<ul>


{{#each cinemas}}
<li>
    <h2>{{name}}</h2>

    <h2>{{address}}</h2>
    <img src='{{imgurl}}' class='area-cinema-img'/>

</li>
{{/each}}
</ul>
</div>
